body {
    font-family: "Lato", sans-serif;
    padding: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #22577E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #FFFFFF;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #FAFFAF;
            font-weight: bold;
        }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #22577E;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}
